@use "./base.scss";

// Snippet: S- Callouts
/*Infobox*/
.callout[data-callout~=note] {
  background: var(--note, var(--callout-black));
  border-radius: 15px;
  border: 1px solid var(--lightgray);

  > * {
    margin-bottom: 0;
  }

  > h1, h6 {
    margin-top: 10px;
  }

  > .callout-title {
    display: none;
  }

  thead, tbody {
    border: unset;
  }

  table {
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 756px) {
  .callout[data-callout~=note] {
    float: right;
    width: 30%;
    min-width: 250px;
    max-width: 700px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 1900px) {
  table {
    display: block;
  }
}

.callout table {
  margin: 0;
  width: 100%;
  padding: 0 0 10px 0;

  // Undoes the display: block conversion for scrollbars in the callouts
  display: table;
}

.callout table td {
  padding: 0 0 0 5px;
}

hr {
  width: auto;
}

table {
  overflow-x: auto;
}

th {
  overflow-wrap: break-word;
}

td {
  overflow-wrap: break-word;
}

thead, tbody {
  border: 1px solid var(--lightgray);
}