@use "./base.scss";

// Snippet: S- Callouts
/*Infobox*/
.callout[data-callout~=note] {
  background: var(--note, var(--background-primary));
  border: 0;
  border-radius: var(--radius-s);
}

@media only screen and (min-width: 756px) {
  .callout[data-callout~=note] {
    float: right;
    width: 30%;
    min-width: 250px;
    max-width: 700px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 1900px) {
  table {
    display: block;
  }
}

.callout table {
  margin: 0;
  width: 100%;
}

.callout table td {
  padding: 0 0 0 5px;
}

.callout[data-callout~=note] > .callout-title {
  display: none;
}

.hr {
  width: unset;
}

table {
  overflow-x: auto;
}

th {
  overflow-wrap: break-word;
}

td {
  overflow-wrap: break-word;
}